.container {
    background-color: rgb(41, 54, 9);
    color: rgb(166, 196, 138);
}

.concluida {
    text-decoration: line-through;
    color: rgb(107, 124, 91);
}

button {
    background-color: #9fc090;
    color: #195000;
    padding: 3px 5px;
    border-radius: 5px;
    
}

#taskList li {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    width: 800px;
    padding: 20px;
}

h1 {
    text-align: center;
}

.Main {
    text-align: center;
}

#taskList {
    width: 500px;
    margin-top: 30px;
    margin-left: 50px;
    text-align: left;
}
